body {
	font-family: "Playfair Display", serif, cursive;
	font-weight: bold;
}
a {
	color: #660d5d;
}
.weather-app {
	background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/834/original/Screenshot_2024-01-23_at_18.37.30.png?1706031511);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
	border-radius: 15px;
	margin: 45px auto;
	padding: 30px 30px 10px 30px;
	max-width: 400px;
	max-height: 1000px;
}
.search-form {
	display: flex;
	justify-content: center;
}
.search-input {
	background-color: #dccdf7;
	font-family: "Sevillana", cursive;
	border: none;
	border-radius: 5px;
	width: 75%;
	padding: 15px;
	font-size: 18px;
	margin-right: 5px;
}
.search-button {
	background-color: #bfabe3;
	font-family: "Sevillana", cursive;
	border: none;
	border-radius: 5px;
	padding: 15px;
	width: 20%;
	font-size: 18px;
	color: #7a9fd2;
}
h1 {
	text-align: center;
	margin-top: 50px;
	font-family: "Sevillana", cursive;
	font-size: 60px;
	margin-bottom: 20px;
	color: #e59cca;
}

.weather-app-current {
	text-align: center;
	margin-top: -20px;
	font-size: 30px;
	font-family: "Playfair Display", serif, cursive;
	font-weight: 500;
	color: #660d5d;
}
.weather-app-data {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.weather-app-temperature-container {
	display: flex;
	margin-left: 10px;
	justify-content: left;
	color: #660d5d;
}
.weather-app-icon {
	width: 100px;
	height: 100px;
}
.today-temperature {
	font-size: 80px;
	font-weight: 500;
	margin-left: -10px;
	font-family: "Sevillana", cursive;
}
.weather-app-unit {
	font-size: 20px;
	margin-top: 20px;
	font-weight: bold;
}
.weather-forecast {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.weather-forecast-date {
	text-align: center;
	color: #660d5d;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
}

.weather-forecast-icon {
	font-size: 38px;
	text-align: center;
}
.weather-forecast-temperatures {
	text-align: center;
	color: #660d5d;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	font-size: 18px;
}

.weather-forecast-temperature {
	padding: 0 10px;
}
.weather-app-details {
	margin-right: 10px;
	font-size: 18px;
	color: #660d5d;
}

footer {
	border-top: 1px solid #8a6789;
	margin-top: 5px;
	padding: 5px 0 0 0;
	text-align: center;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.4);
}
